:host ::ng-deep .fc {
  max-width: 600px;
  margin: 0 auto;
}

/* Estilo para cuando se hace hover a un dia dentro del rango */
:host ::ng-deep .fc-daygrid-day:has(.in-range):hover {
  cursor: pointer;
  background-color: #9fc2e8;
  transition: background-color 0.5s ease;
}

/* Estilo para el día seleccionado */
:host ::ng-deep .fc-daygrid-day:has(.selected-day) {
  background-color: #d1bee4;
}