<h2>Gestión de Usuarios</h2>

<app-loading [isLoading]="isLoading"></app-loading>

@if (!isLoading) {
<div class="content">
    @if (users?.length) {
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (user of users; track user.id) {
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>

                        @if (user.role === "player") {
                        <button class="btn btn-info btn-sm" (click)="viewReservations(user.id)">Ver Reservas</button>
                        }

                        @if (user.deleted_at === null) {
                        <button class="btn btn-warning btn-sm" (click)="editUser(user.id)"
                            style="margin-left: 5px;">Editar</button>
                        <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)"
                            style="margin-left: 5px;">Eliminar</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    } @else if (!users?.length && !error) {
    <div class="alert alert-info">
        No hay usuarios registrados.
    </div>
    } @else if (error) {
    <div class="alert alert-danger">
        {{ error }}
    </div>
    }
    <button class="btn btn-success" (click)="crearUsuario()">Crear Usuario</button>
</div>
}