<h2>Mis Reservas</h2>

<app-loading [isLoading]="isLoading"></app-loading>

@if (!isLoading) {
<div class="content">
    @if (successMessage) {
    <div class="alert alert-success">
        {{ successMessage }}
    </div>
    }
    <div class="reservations-grid">
        @for (reservation of reservations; track reservation.id) {
        <div class="reservation-card"
            [ngClass]="{'confirmed': reservation.status === 'confirmed', 'cancelled': reservation.status === 'cancelled'}">
            <div class="card-header">
                <h3>{{ reservation.pitch.name }}</h3>
                <p class="location">{{ reservation.pitch.location }}</p>
            </div>
            <div class="card-body">
                <p><strong>Fecha y Hora:</strong> {{ reservation.start_at | date:'dd/MM/yyyy HH:mm' }}</p>
                <p><strong>Duración:</strong> {{ reservation.duration }} minutos</p>
                <p><strong>Precio:</strong> {{ reservation.price }} €</p>
                @if (reservation.cancellation_reason) {
                <p><strong>Motivo Cancelación:</strong> {{ reservation.cancellation_reason }}</p>
                }
            </div>
            <div class="card-actions" *ngIf="isFuture(reservation.start_at) && reservation.status === 'confirmed'">
                <button class="btn btn-warning" (click)="openModifyModal(reservation)">Modificar</button>
                <button class="btn btn-danger" (click)="cancelReservation(reservation.id)">Cancelar</button>
            </div>
        </div>
        }
    </div>
    @if (reservations.length === 0 && !error) {
    <div class="alert alert-info">
        Todavía no tienes ninguna reserva
    </div>
    }
    @if (error) {
    <div class="alert alert-danger">
        {{ error }}
    </div>
    }
</div>
}